body::before {
    display: block;
    content: '';
    height: 50px;
}

@media(min-width: 768px){
    .news-input {
        width: 40%;
    }
}

.client {
    height: 220px;
    width: 85%;
    object-fit: cover;
  border-radius: 50%;
}

#map {
    width: 100%;
    height:100%;
    border-radius: 10px;
}